@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-weight: 500;
  letter-spacing: -0.2px;
}